[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
py-trello = ">=0.19.0, <1.0.0"
argparse = ">=1.4.0, <2.0.0"

[dev-packages]
ruff = "*"

[requires]
python_version = "3"

[scripts]
trello_tools = "python -m trello_tools"
test = "python -m unittest"
lint = "python -m ruff check ."
