[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
py-trello-api = ">=0.20.0, <1.0.0"
argparse = ">=1.4.0, <2.0.0"

[dev-packages]
ruff = "*"
coverage = "*"

[requires]
python_version = "3"

[scripts]
trello_tools = "python -m trello_tools"
test = "python -m coverage run -m unittest"
report_coverage = "python -m coverage report -m"
lint = "python -m ruff check ."
